<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Financial Analysis</title>
    <style type="text/css" media="all">
    body {
      display: flex;
      flex-direction: column;
    }
    h1 {
      color: "midnightblue"
    }
    .chart_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 100%;
    }

    @media all and (max-width: 1200px) {
    form {
      margin: 100px 0 
    }
    }
    </style>
  </head>
  <body>
    <h1>Financial Analysis</h1>
    <form method="POST" action="/charts" style="margin-top: 100px">
      {% csrf_token %}
      <input type="text" name="ticker" style="border: solid midnightblue" />
      <input type="submit" style="border: solid midnightblue" />
    </form>
    </div>
    <div class="chart_container">
      <img src="{% static 'reports'%}/{{daily_img_path }}" alt="daily" />
      <img src="{% static 'reports'%}/{{ monthly_img_path }}" alt="monthly" />
    </div>
  </body>
</html>
